extends layout

block content

    a(href='/form')
      div
        h1
          center NodeMailer
        center
          h3
            | Click here to get your first mail 
            br
            i via NodeMailer
